*/ {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  list-style-type: none;
}

.intro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75em;
  /* height: 35em; */
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-radius: 40px;
}

.willow-font {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2.5px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* ---------------------------------------------- PROJECT ---------------------------------------------------- */

.view-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.view-link-style {
  color: #d6bcfa;
}

.view-link-style:hover {
  color: #d69e2e;
}

.object-contain {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 4px;
  width: 22rem;
  height: 12rem;
}
