* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  list-style-type: none;
}

.main-logo {
  background: #000;
  width: 105px;
  height: 55px;
}

.skills-logo {
  width: 64px;
  height: 64px;
}

.intro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75em;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-radius: 40px;
}

.willow-font {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2.5px;
}

/* med nav placement */

.top-right {
  top: 0;
  right: 0;
}

/* ----------------- */

.selfie {
  width: 280px;
  height: 280px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ---------------------------------------------- PROJECT ---------------------------------------------------- */

#card-container {
  width: 100%;
}

.object-contain {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 4px;
  width: 22rem;
  height: 12rem;
}

#card {
  width: 22rem;
}

.view-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.view-link-style {
  color: #d6bcfa;
  font-size: 22px;
}

.view-link-style:hover {
  color: #ca8a04;
}

.view-resume-style {
  color: #ca8a04;
  font-size: 22px;
}

.view-resume-style:hover {
  color: #d6bcfa;
}